*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior:  smooth;
}
main{
    width:100%;
    font-family: Roboto, Helvetica Neue, Helvetica, Arial, sans-serif;
}
nav{
    height: 14vh;
    width: 100%;
    background-color: #128c7e;
    color:white ;
    display: flex;
    align-items: center;
    position: fixed;   
}
.logo{
    width: 30%;
    display:flex;
    justify-content:center;
}
nav ul{
    width:70%;
    display: flex;
    justify-content: space-evenly;
   flex-shrink: inherit;
}
nav ul a{
    text-decoration: none;
    color: white;
}
li{
    list-style-type: none;
}
.page1{
    height: 110vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 5%;
}
.page1-left{
    width: 30%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-right: 5%;
    padding-top: 7%;
}
.page1-left ul{
    display: flex;
    flex-direction: column;
    color: #1CB39B;
    text-align:start;
}
.app{
    color: #1c1e21;
}

.page1-left h2{
    font-size: 2rem;
    font-weight: lighter;
    color: #1c1e21;
    margin-bottom: 5%;
}
.page1-left p{
    font-size: 1.2rem;
    line-height: 1.6rem;
}
.data{
    color: #5E5E5E;
    font-size: small;
}
.page1-right{
    display: flex;   
    align-items: center;
    height: 100vh;
    padding-top: 10%;
}
.page1-right img,.bs-app img{
    height: 60vh;
}
.page1-right img{
    height: 85vh;
}
.page1-left li:hover{
    text-decoration: underline;
    cursor: pointer;
}
.page1-left i{
    margin-right: 5%;
}
.page1-left li{
    line-height: 2.5rem;
    text-align: start;
    font-size: large;
    font-weight: lighter;
}
select{
    background-color: inherit;
    border: none;
    color: white;
    font-size: inherit;
}

.business{
    width: 100%;
    height: 130vh;
    display: flex;
    text-align: center;
    justify-content: space-between;
    font-size:large;
    text-rendering: optimizeLegibility;
    font-weight: lighter;
    color: #1c1e21;
  
}
.business p{
    line-height: 1.7rem; 
}
.bs-app{
 width: 49%;
 height: 100%;
    background-color: #d8e8ea;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 5%;
    padding-bottom: 0;
}
.bs-app img{
    max-height:60%;
    max-width: 100%;
}
.bs-app a{
    text-decoration: none;
    color: #39b3ed;
    font-weight: 400;
}
.bs-app a:hover{
    text-decoration: underline;
}
.encrypt{
    width: 49%;
    height:100%;
    background-color:#e7f0e4 ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5%;
}
.encrypt h5{
    color: #5E5E5E;
    letter-spacing: .2rem;
    font-weight: bold;
}
.explore{
    width: 100%;
    height: 35vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
#btn{
    border: 2px solid lightblue;
    background-color: white;
    height: 55px;
    width: 250px;
    border-radius: 40px;
    color: #128c7e;
    font-size: large;
}
.links{
    width: 100%;
    height: 50vh;
    color: white;
    background-color: #273443;
    display: flex;
    align-items: center;
    justify-content: center;
}
.links a{
    text-decoration: none;
    color: white;
}
.links a:hover{
    text-decoration: underline;
}
#links{
    width: 20%;
    height: 70%;  
}
#links li{
    line-height: 2rem;
    font-weight: 100;
    font-size: 1rem;
}
.footer{
    background-color:#1c1e21;
    color: white;
    width: 100%;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left:2% ;
    padding-right:2% ;
}
.footer a{
    text-decoration: none;
    color: white;
  
}
.footer a:hover{
    text-decoration: underline;
}
#menu{
    display: none;
    font-size: 1.5rem;
}
#icon{
    height: 80px;
    object-fit: contain;
    display: none;
}
#download{
    height: 50px;
    width: 200px;
    font-weight: 400;
    font-size: 1rem;
    border: 1px solid #075e54;
    border-radius: 40px;
    background: #075e54;
    color: white;
    text-align: center;
    display: none;
}
#halfphone{
    display: none;
    height: 60vh;
}
@media (min-width:768px) and (max-width:1020px){
   nav{
    height: 10vh;
   }
    #full-icon{
    display: none;
   }
   #select{
    display: none;
   }
   .logo{
    width: 15%;
   }
    #icon{
        display: flex;
        height: 40px;     
    }
    nav ul{
        width: 85%;
    }
    nav li{
        font-size: .99rem;       
    }
}
@media (max-width:768px){
    nav{
        height: 18vh;
        position: relative;
    }
  nav ul,#full-icon{
    display: none;
  }
  .logo{
    width: 100%;
  }
  #icon{
    display: flex;
    height: 60px;
  }
  #menu{
    display: flex;
    position: absolute;
    top: 1px;
    right: 1px;  
  }
  .page1{
    flex-direction: column;
    height: 109vh;
    background-color: #128c7e;
    color: #fff;
    margin-bottom: 0;
  }
  .data{
    display: none;
}
  #fa-list{
    display: none;
  }
  #download{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .page1-left{
    width: 80%;
    align-items: center;
    text-align: center; 
  overflow: hidden;
  }
  .page1-left p, .page1-left h2{
    color: white;
  }
  #full-phone{
    display: none;
  }
  #halfphone{
    display: flex;
  }
  .business{
    flex-direction: column;
    height: 160vh;
  }
  .bs-app{
    width: 100%;
    height: 115vh;
   font-size: medium;
   font-weight: 400;
  }
  .bs-app p{
    padding-left: 5%;
    padding-right: 5%;
    margin-bottom: 5%;
  }
  .bs-app h2{
    margin-bottom: 10%;
  }
 .encrypt{
    width: 100%;
    height: 100vh;
    display: block;
 }
 .explore{
    height: 20vh;
    padding-top: 10%;
 }
 .links{   
    display: grid;
    height: 75vh;
   grid-template-columns:repeat(2,1fr);
   grid-template-rows:auto ; 
   justify-items: center;
   
 }
 #links {
width: 49%;
padding: 0;
 }
 #links li{
    font-size: .9rem;
    font-weight: 400;
    text-rendering: geometricPrecision;
    text-rendering: optimizeLegibility;
 }
 .footer{
   flex-direction: column;
   align-items: flex-start;
   justify-content: space-evenly;
   font-size: 1.1rem;
 }
 
   }